<header>
  <div class="header">
    <h1>Public Complaint Platform</h1>
    <nav>
      <a style="margin-left: 5px; margin-right: 5px;" class="link" href="/">Home</a>
      <a style="margin-left: 5px; margin-right: 5px;" class="link" href="/about">About</a>
      
    </nav>
  </div>
</header>
