<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Public Complaint Platform</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
  <!-- Header -->
  <%- include("partials/header") %>

  <div  style="margin-left: 400px;" class="bg-white shadow-lg rounded-2xl p-10 w-full max-w-md text-center">
    <h1 class="text-2xl font-bold text-gray-800 mb-6">Welcome to Public Complaint Platform</h1>
    <p class="text-gray-600 mb-8">Please choose an option to continue</p>

    <div  class="space-y-4">
      <a href="/login" class="block w-full py-3 bg-blue-500 text-white rounded-xl hover:bg-blue-600 transition">
        Login as Civilian
      </a>

      <a href="/login" class="block w-full py-3 bg-green-500 text-white rounded-xl hover:bg-green-600 transition">
        Login as Area Representative
      </a>

      <a href="/loginasadmin" class="block w-full py-3 bg-gray-700 text-white rounded-xl hover:bg-gray-800 transition">
        login as admin
      </a>
         <a href="/signup" class="block w-full py-3 bg-gray-700 text-white rounded-xl hover:bg-gray-800 transition">
        Signup
      </a>
    </div>
  </div>
  
  <%- include("partials/footer") %>
</body>
</html>
