<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
    <style>
        body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.switch {
    margin-top: 10px;
    color: blue;
    cursor: pointer;
}

    </style>
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form  method="POST" action="/login">
            <input type="text" placeholder="user" required name="username">
            <input type="password" placeholder="password" required name="password">
            <button type="submit">Login</button>
        </form>
        <p class="switch">Don't have an account? <a href="http://localhost:3000/signup">Sign up</a></p>
    </div>
</body>
</html>
